.PageRegister{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, #E5529A, rgb(5, 124, 172)) ;
    overflow: hidden;
}
.PageLogin{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), #E5529A) ;
    overflow: hidden;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.containerFormImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo img {
    max-width: 130px;
}
.derFoto img {
    max-width: 300px;
}
.HeaderPage{
    text-align: center;
    font-weight: 700;
    font-size: 37px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}